.largeButton {
  padding: 15px;
  background-color: #419cd8;
  border: white;
  color: white;
  font-size: 15px;
  border-radius: 10px;
}

.largeButton:hover {
  background-color: #3784b8;
  color: white;
}

.mainTable {
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.mainTable th {
  background-color: #06a682;
  height: 70px;
  color: #ffffff;
}

.mainTable tr {
  background-color: #dfdfdf;
  color: #161616;
  width: 100%;
  overflow: hidden;
}

.mainTable th,
.mainTable td {
  padding: 12px 15px;
}

.mainTable th:first-child {
  border-radius: 10px 0 0 0px;
}

.mainTable th:last-child {
  border-radius: 0 10px 0px 0;
}

.mainTable tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.column {
  margin-top: 90px;
  display: block;
}

.drop {
  width: 40%;
  /* margin: 0 auto; */
  /* flex: 1; */
  background-color: #06a682;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  padding: 20px 30px;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
}

.group {
  background-color: #ffffff;
  margin: 0 auto;
  flex: 1;
  background-color: #121212;
  font-size: 15px;
  white-space: nowrap;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  padding: 20px 30px;
  margin-bottom: 30px;
  /* height: 50px; */
  /* box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2); */
  /* -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2); */
  border-radius: 10px 10px 10px 10px;
}

.group:hover {
  /* filter: brightness(85%); */
  background-color: #06a682;
}

#selectedGroup {
  /* filter: brightness(85%); */
  background-color: #06a682;
}

.twoColumns {
  display: flex;
  justify-content: center;
  column-gap: 3%;
  /* justify-content: space-between; */
  padding: 10px 0;
}
