.container {
  text-align: center;
}

.pageTitle {
  font-size: 25px;
}

.largeButton {
  padding: 15px;
  background-color: #419cd8;
  border: white;
  color: white;
  font-size: 15px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 10px;
}

.largeButton:hover {
  background-color: #3784b8;
  color: white;
}

.main-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.main-table th,
.main-table td {
  padding: 12px 15px;
}

.main-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.main-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.main-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
