html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding-top: 120px;
  padding-bottom: 70px;
  margin: 0 3%;
}

textarea {
  background-color: #ffffff;
  box-sizing: border-box;
  min-height: 100px;
  width: 100%;
  resize: vertical;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: medium;
  border: none;
  line-height: 150%;
  border-radius: 0 0 15px 15px;
  padding: 3% 5%;
}

select {
  text-overflow: ellipsis;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
}

img.site-logo {
  width: 120px;
  margin-top: 10px;
  margin-left: -10px;
  float: left;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button {
  padding: 10px 15px;
  background-color: #181818;
  border: white;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #06a682;
  color: white;
}

/* mobile settings (or if desktop window is too small) */
@media screen and (min-width: 0px) and (max-width: 720px) {
  /* coming soon! */
}
