html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  /* margin-left: 40px; */
  background-color: "#121212";
  font-family: Arial, sans-serif;
  /* padding-top: 70px; */
  /* margin-right: 40px; */
}

img.site-logo {
  width: 120px;
  margin-top: 10px;
  margin-left: -10px;
  float: left;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.main-table th,
.main-table td {
  padding: 12px 15px;
}

.main-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.main-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.main-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* mobile settings (or if desktop window is too small) */
@media screen and (min-width: 0px) and (max-width: 720px) {
  /* coming soon! */
}
