#nav-bar {
  padding-right: 25px;
  padding-left: 25px;
  position: fixed;
  display: flex;
  justify-content: stretch;
  align-items: center;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background: #05083e;
  height: 80px;
}

#nav-title {
  /* float: left; */
  /* width: 70%; */
  /* padding-top: 27px; */
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

#nav-menu {
  color: white;
  text-align: right;
  /* float: right; */
  /* padding-right: 40px; */
  /* padding-right: 10px; */
  /* padding-top: 19px; */
}

#nav-menu ul {
  list-style-type: none;
  /* margin: 0; */
  /* padding: 0; */
}

#nav-menu li {
  display: inline;
  /* float: right; */
  /* margin-left: 10px; */
  font-size: 16px;
}

#nav-menu li a {
  display: inline-block;
  /* padding: 10px; */
  color: white;
  text-decoration: none;
}

#current-page li a {
  text-decoration: underline;
}

#nav-menu li a:hover {
  text-decoration: underline;
  transition: 0.2s;
}
