#nav-bar {
  padding-right: 75px;
  padding-left: 25px;
  position: absolute;
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background: #121212;
  height: 80px;
  z-index: 10;
}

#nav-logo {
  cursor: pointer;
}

#nav-menu li {
  display: inline;
  font-size: 16px;
  color: white;
}

#nav-menu li a {
  padding: 15px;
  color: inherit;
  text-decoration: none;
}

#current-page {
  font-weight: bold;
  color: #06a682;
  /* text-decoration: underline; */
}

#nav-menu li a:hover {
  color: #06a682;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  opacity: 0.6;
}

#nav-hamburger {
  display: none;
}

/* mobile settings (or if desktop window is too small) */
@media screen and (min-width: 0px) and (max-width: 650px) {
  #nav-bar {
    padding-left: 10px;
    padding-right: 25px;
  }
  #nav-menu {
    display: none;
  }
  #nav-hamburger {
    display: inline;
  }
  .hamburgerOpen {
    position: fixed;
    z-index: 20;
    width: 100%;
    left: 0px;
    top: 80px;
    margin-bottom: 20px;
    background-color: #202020;
  }
  .hamburgerOpen li {
    list-style: none;
    text-align: center;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #757575;
    padding: 20px 10px;
    font-size: 18px;
  }
}
