.container {
    text-align: center;
}

.pageTitle {
    font-size: 25px;
}

.largeButton {
    padding: 15px;
    background-color: #419CD8;
    border: white;
    color: white;
    font-size: 15px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 10px;
}

.largeButton:hover {
    background-color: #3784b8;
    color: white;
}